# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
.env.example
import.env
.env.*.example
# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp files
*.swp
*.swo
